@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
html,
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
a{
    text-decoration: none;
}
body {
    background-color: #fdf79a;
    overflow-x: hidden;
    margin: 0;
    font-family: "Comfortaa", cursive;
}

#text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 10%;
    font-size: 124px;
    font-weight: 800;
    color: rgba(19, 36, 44, 0.1);
}

.ground {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 66%;
    background: #fbc67c;
    width: 1000px;
    height: 15px;
    border-radius: 20px;
}

.sketch {
    height: 1200px;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 500px;
}

.caveman {
    position: absolute;
    top: 15%;
    width: 250px;
    height: 300px;
    right: -150px;
}

.leg {
    position: absolute;
}

.body {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 10%;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background-color: #f05842;
    overflow: hidden;
}
.body .wear-tear {
    position: absolute;
    border-radius: 100%;
    background-color: rgba(19, 36, 44, 0.3);
}
.body .wear-tear:nth-child(1) {
    top: 80px;
    left: 80px;
    height: 40px;
    width: 40px;
}
.body .wear-tear:nth-child(2) {
    top: 120px;
    left: 140px;
    height: 30px;
    width: 30px;
}
.body .wear-tear:nth-child(3) {
    top: 120px;
    left: 30px;
    height: 50px;
    width: 50px;
}
.body .wear-tear:nth-child(4) {
    top: 150px;
    left: 100px;
    height: 80px;
    width: 80px;
}
.body .wear-tear:nth-child(5) {
    top: 10px;
    left: 100px;
    height: 40px;
    width: 40px;
}
.body .wear-tear:nth-child(6) {
    top: 50px;
    left: 150px;
    height: 30px;
    width: 30px;
}
.body .wear-tear:nth-child(7) {
    top: 100px;
    left: 10px;
    height: 10px;
    width: 10px;
}
.body .wear-tear:nth-child(8) {
    top: 170px;
    left: 20px;
    height: 40px;
    width: 40px;
}

.head {
    position: absolute;
    top: -5%;
    left: 20%;
    width: 80px;
    height: 150px;
    border-radius: 40px;
    background-color: #0b313e;
    overflow: hidden;
}
.head .eyes-container {
    position: absolute;
    width: 70%;
    top: 40px;
    left: 5px;
    height: 20px;
    border-radius: 10px;
    background: #f7be9b;
}
.head .eyes-container .eye {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #0b313e;
    animation: eye-blink 3s linear infinite;
}
.head .eyes-container .eye:nth-child(1) {
    left: 10%;
}
.head .eyes-container .eye:nth-child(2) {
    left: 60%;
}
.head .nose {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 15px;
    height: 30px;
    background-color: #ec626d;
    border-radius: 10px;
}
.head .mouth {
    position: absolute;
    top: 50%;
    left: 40%;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #9d193e;
    overflow: hidden;
}
.head .mouth .tongue {
    position: absolute;
    top: 30%;
    left: 20%;
    height: 30px;
    width: 30px;
    background-color: #ee3364;
    border-radius: 100%;
}
.head .mouth .teeth {
    position: absolute;
    top: -3%;
    left: 30%;
    height: 10px;
    width: 8px;
    background-color: #fefefe;
    border-radius: 3px;
}
.head .mouth .teeth:nth-child(2) {
    left: -15%;
    height: 15px;
    transform-origin: 0% 0%;
    transform: rotate(-20deg);
}
.head .ear {
    position: absolute;
    top: 30%;
    left: 80%;
    height: 20px;
    width: 15px;
    background-color: #f7be9b;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}
.head .ear .ear-canal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ec626d;
    position: absolute;
    width: 8px;
    height: 10px;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

.hand--left {
    position: absolute;
    top: 15%;
    left: 55%;
    height: 180px;
    width: 60px;
    background-color: #f7be9b;
    border-radius: 40px;
}

.fist {
    position: absolute;
    top: 60%;
    left: 65%;
    height: 45px;
    width: 50px;
    background-color: #f7be9b;
    border-radius: 15px;
}

.branch {
    position: absolute;
    top: 60%;
    left: 55%;
    height: 220px;
    width: 40px;
    background-color: #812818;
    border-radius: 40px;
    transform-origin: 0% 0%;
    transform: rotateZ(-70deg) scale(0.8, 0.9);
}
.branch .hole {
    position: absolute;
    top: 50%;
    left: 30%;
    height: 20px;
    width: 20px;
    background-color: #561001;
    border-radius: 100%;
}
.branch .hole:nth-child(1) {
    left: 40%;
    top: 195px;
}
.branch .hole:nth-child(2) {
    left: 10%;
    top: 55px;
}
.branch .hole:nth-child(3) {
    left: 30%;
    top: 155px;
    width: 30px;
    height: 30px;
}
.branch .hole:nth-child(4) {
    left: 30%;
    top: 105px;
    width: 25px;
    height: 25px;
}
.branch .hole:nth-child(5) {
    left: 30%;
    top: 145px;
    width: 10px;
    height: 10px;
}
.branch .hole:nth-child(6) {
    left: 30%;
    top: 185px;
}
.branch .twig {
    position: absolute;
    top: 65%;
    left: 70%;
    height: 40px;
    width: 10px;
    background-color: #812818;
    transform-origin: 0% 0%;
    transform: rotateZ(-45deg);
    border-radius: 10px;
}
.branch .twig .leaf {
    position: absolute;
    top: 75%;
    left: 65%;
    height: 30px;
    width: 10px;
    background-color: #8ec43e;
    border-radius: 20px;
    transform-origin: 0% 0%;
    transform: rotateZ(-120deg);
}
.branch .twig .leaf:nth-child(2) {
    background-color: #36b647;
    transform: rotateZ(-90deg);
}

.hand--right {
    position: absolute;
    top: -5%;
    left: 30%;
    height: 130px;
    width: 60px;
    background-color: #f7be9b;
    transform-origin: 0% 100%;
    transform: rotateZ(-60deg);
    border-radius: 40px;
}

.hand--right-partTwo {
    position: absolute;
    top: -20%;
    left: 0px;
    height: 130px;
    width: 60px;
    background-color: #f7be9b;
    border-radius: 40px;
    transform-origin: 50% 50%;
    transform: rotateZ(45deg);
}
.hand--right-partTwo .fist {
    background-color: #f7be9b;
    position: absolute;
    top: 5%;
    left: 80%;
    height: 30px;
    width: 20px;
    animation: move-hand 1.5s ease-in-out infinite;
}

.leg {
    position: absolute;
    border-radius: 10px;
    height: 105px;
    top: 150px;
    width: 15px;
}
.leg:after {
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 10px;
    left: -5px;
    top: 15px;
    width: 10px;
}
.leg .foot {
    position: absolute;
    border-radius: 25px 25px 0 0;
    height: 25px;
    left: -50px;
    top: 80px;
    width: 80px;
}
.leg .foot:after, .leg .foot:before,
.leg .foot .fingers,
.leg .foot .fingers:after {
    position: absolute;
    background-color: #f7be9b;
    border-radius: 50%;
    bottom: 0px;
    height: 15px;
    transform-origin: bottom;
    width: 15px;
}
.leg .foot:after {
    left: -6px;
    content: "";
}
.leg .foot:before {
    left: 8px;
    transform: scale(0.6);
    content: "";
}
.leg .foot .fingers {
    left: 15px;
    transform: scale(0.6);
}
.leg .foot .fingers:after {
    left: 11px;
    content: "";
}

.leg:nth-child(1) {
    background-color: #c97a6b;
    left: 95px;
}
.leg:nth-child(1):after {
    background-color: #c97a6b;
}
.leg:nth-child(1) .foot {
    background-color: #c97a6b;
}
.leg:nth-child(1) .foot:after {
    background-color: #c97a6b;
}
.leg:nth-child(1) .foot:before {
    display: none;
}

.leg:nth-child(2) {
    background-color: #f7be9b;
    left: 125px;
}
.leg:nth-child(2):after {
    background-color: #f7be9b;
}
.leg:nth-child(2) .foot {
    background-color: #f7be9b;
}

.wheel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 40%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 100px solid #679bb3;
    background-color: transparent;
    animation: rotate 4s ease-in-out infinite;
}
.wheel .wheel-patch {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #679bb3;
    border-radius: 100%;
}
.wheel .wheel-patch:nth-child(2) {
    top: 100px;
    left: -130px;
    background-color: #fdf79a;
    width: 30px;
    height: 30px;
}
.wheel .wheel-patch:nth-child(3) {
    top: -30px;
    left: 150px;
    width: 40px;
    height: 40px;
}
.wheel .wheel-patch:nth-child(4) {
    top: 40px;
    left: -40px;
}
.wheel .wheel-patch:nth-child(5) {
    top: 120px;
    left: 100px;
    width: 50px;
    height: 50px;
}
.wheel .wheel-patch:nth-child(6) {
    top: -80px;
    left: -100px;
    background-color: #fdf79a;
}
.wheel .wheel-3d {
    position: absolute;
    left: -130%;
    top: -100%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 100px solid #a1c7dc;
    background-color: transparent;
}

.joke {
    position: absolute;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 75%;
    color: rgba(19, 36, 44, 0.5);
    font-size: 24px;
}

.status-redirect {
    position: absolute;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 80%;
    color: rgba(19, 36, 44, 0.6);
    font-size: 14px;
    line-height: 22px;
    width: 90%;
    text-align: center;
}

.go-home {
    position: absolute;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 87%;
    border: 2px solid #fbc67c;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    background: none;
    color: rgba(103, 155, 179, 0.9);
    cursor: pointer;
}
.go-home:hover {
    color: #679bb3;
    border: 2px solid #c97a6b;
}

@keyframes move-hand {
    50% {
        top: 0%;
    }
}
@keyframes eye-blink {
    0%, 45%, 60%, 100% {
        width: 8px;
        height: 8px;
    }
    50%, 55% {
        width: 12px;
        height: 2px;
    }
}
@keyframes rotate {
    0%, 100% {
        transform: rotateZ(-5deg);
        top: 0%;
        left: 5%;
    }
    50% {
        left: 10%;
        top: 0%;
        transform: rotateZ(5deg);
    }
}
@media only screen and (max-height: 800px) {
    .sketch {
        transform: scale(0.8);
    }
}