
/** Styling **/
body {
  background: linear-gradient(0deg, #22c1c3 0%, #fdbb2d 100%);
  min-height: 100vh;
  font-family: sans-serif;
}
/**nav bar**/
.navbar {
    font-size: 18px;
    background-color : black;
    padding-bottom: 10px;
    
}

/*nav bar*/
.nav-links,
.logo {
    text-decoration: none;
    color:white;
}
.main-nav li {
    text-align: center;
    margin: 12px auto;
}
.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 20px;
    margin-left: 20px;
}
.ai{
    vertical-align: top;
    border-style: none;
    margin-top: -19px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
}

/*hide nav menue*/
.main-nav {
    list-style-type: none;
    display: none;
}
.active {
  display: block;
}
/* for desktop*/
@media screen and (min-width: 550px) {
  .navbar-toggle {
       display: none;
    }
  .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
  .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .nav-links {
        margin-left: 40px;
    }
  .logo:hover,
   .nav-links:hover {
      color: #007bff;
    }
  .logo {
      margin-top: 0;
            } 
}


.search-box {
  position: relative;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 20px;
}
.search-box input[type=text] {
  -webkit-appearance: none;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 5px;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: none;
  z-index: 1;
  transition: all 0.5s ease-out 0.5s;
  outline: none;
}
.search-box input[type=text]:focus {
  width: 280px;
  height: 30px;
  margin-right: 20px;
  transition: all 0.5s ease-out 0s;
}
.search-box input[type=text]:focus + span::before {
  height: 14px;
  margin: -22px 0 0 -15px;
  transition: all 0.2s ease-out 0.5s;
}
.search-box input[type=text]:focus + span::after {
  visibility: visible;
  margin: -22px 0 0 -15px;
  transition: all 0.2s ease-out 0.7s;
}
.search-box span {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  z-index: 10;
}
.search-box span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 8px;
  margin: -4px 0 0 0;
  background-color: #000;
  transform: rotate(-45deg);
  transition: all 0.2s ease-out 0.2s;
}
.search-box span::after {
  content: "";
  visibility: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 14px;
  margin: -36px 0 0 5px;
  background-color: #000;
  transform: rotate(45deg);
  transition: all 0.2s ease-out 0s;
}
/**end nav bar**/
#block{
  background-image:url('../images/ecommerce.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  height:600px;
  margin-bottom:5px;
  margin-top: 0px;
}

.container{
 /* text-align: center;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin-top: 355px;
  margin-left: -305px;
}
.container span{
  text-transform: uppercase;
  display: block;
}



.text1{
  color: white;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  /*background: black;*/
  position: relative;
  animation: text 2.5s 1;
}
.text2{
  font-size: 30px;
  color: #007bff;
  margin-top: 20px;
  margin-left: 126px;
}
@keyframes text {
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
}
/*******************************************/

.content {
  margin: 40px auto 0;
  width: 350px;
}
form {
  padding: 40px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
form h1 {
  text-align: center;
}
form h1 em {
  display: block;
  font-style: normal;
}
form div {
  margin: 20px 0;
  position: relative;
}
form div:last-child {
  margin-bottom: 0;
}
form label {
  position: absolute;
  width: 100%;
  top: 15px;
  left: 10px;
  color: #444;
  transition: 100ms ease all;
}
form input,
form textarea {
  border: 1px solid #999;
  border-radius: 3px;
  padding: 20px 10px 10px;
  width: 100%;
  box-sizing: border-box;
}
form input ~ label:after,
form textarea ~ label:after {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 1.2rem;
}
form input:not(:-moz-placeholder-shown) ~ label, form textarea:not(:-moz-placeholder-shown) ~ label {
  top: 5px;
  font-size: 0.65em;
}
form input:not(:-ms-input-placeholder) ~ label, form textarea:not(:-ms-input-placeholder) ~ label {
  top: 5px;
  font-size: 0.65em;
}
form input:focus ~ label,
form textarea:focus ~ label,
form input:not(:placeholder-shown) ~ label,
form textarea:not(:placeholder-shown) ~ label {
  top: 5px;
  font-size: 0.65em;
}
form button {
  background: linear-gradient(0deg, #2230c3 0%, #2d77fd 100%);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  width: 100%;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  font-size: 1.2em;
}
/**footer**/
#end{
  margin-top:100px;
  background-image: url(../images/foot.gif);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:300px;
}
footer
:root {
  --green: #6ba563;
  --brown: #fd9453;
  --black: #030c11;
  --grey: #f1e3f3;
  --white: #f5f5ea;
}
.dummy_page {
  height: 200px;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  box-sizing: border-box;
  padding: 60px 0px;
}
/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: var(--black);
  color: var(--white);
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #007bff;
  font-size: 18px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
.copy {
  background: #010101;
  color: var(--white);
  display: flex;
  flex-direction: row;
}
.copy div {
  margin: 1rem;
  padding: 1rem 8px;
}

.copy div a {
  
}

.copy_text{
  
  margin-left: 564px;
  font-size: 10px;
}
