

/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
}

h2 {
     font-size: 22px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- navigation--*/

.navigation.navbar {
     padding: 0px;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 25px;
     color: #eda911;
     font-size: 16px;
     line-height: 20px;
     font-weight: 500;
     text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
     color: #5a2f27 !important;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}

.Call a {
     display: inline-block;
     padding: 7px 0;
     color: #5a2f27;
     font-size: 20px;
}


/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.header {
     width: 100%;
     background: #eae9e4;
     padding: 20px 30px;
}

.logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     line-height: 40px;
}


/** banner section **/

.banner_main {
     background: #eae9e4;
     padding: 20px 0px 90px 0px;
}

.text-bg {
     text-align: left;
}

.text-bg h1 {
     color: #5a2f27;
     font-size: 90px;
     line-height: 120px;
     padding-bottom: 15px;
     font-weight: bold;
}

.text-bg p {
     color: #5a2f27;
     font-size: 17px;
     line-height: 30px;
     padding: 25px 0px 60px 0px;
}

.main_form {
     padding: 60px 50px 80px 50px;
     background: #5a2f27;
     border-radius: 10px;
     border-top: #eda911 solid 15px;
}

.main_form .contactus {
     border: inherit;
     margin-bottom: 70px;
     width: 100%;
     height: 45px;
     background: transparent;
     color: #fbfaf8;
     font-size: 16px;
     font-weight: 400;
     border-radius: inherit;
     border-bottom: #fff solid 1px;
}

.main_form .textarea {
     border: #f6c2d7 solid 1px;
     padding: 0px 19px;
     margin-bottom: 20px;
     width: 100%;
     background: transparent;
     color: #f5bed2;
     font-size: 16px;
     font-weight: 500;
     border-radius: 15px;
     padding-top: 35px;
}

.main_form .send_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #000;
     color: #fff;
     padding: 13px 0px;
     margin: 0 auto;
     max-width: 200px;
     width: 100%;
     display: block;
     font-weight: 500;
     text-transform: uppercase;
     border-radius: 35px;
}

.main_form .send_btn:hover {
     background-color: #eda911;
     transition: ease-in all 0.5s;
     color: #000;
}

#request *::placeholder {
     color: #fbfaf8;
     opacity: 1;
}


/** end banner section **/

.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 45px;
     color: #5a2f27;
     line-height: 55px;
     font-weight: bold;
     padding-bottom: 20px;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.yellow {
     color: #f6b219;
     font-weight: bold;
}

.read_more {
     font-size: 17px;
     background-color: #000;
     color: #fff;
     padding: 13px 0px;
     width: 100%;
     max-width: 200px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
}

.read_more:hover {
     background: #eda911;
     color: #000;
     transition: ease-in all 0.5s;
}


/** food section **/

.food {
     background: #fff;
     margin: 90px 0;
}

.food .titlepage span {
     font-size: 17px;
     line-height: 30px;
     color: #000000;
     font-weight: 501;
     display: block;
     padding: 0px 49px;
}

.food .food_box {
     text-align: center;
     background: #5a2f27;
     margin-bottom: 30px;
     margin-top: 116px;
     padding: 0px 30px 30px 30px;
}

.food .food_box:hover {
     background: #fdbe31 !important;
}

.food_box i img {
     margin-top: -116px;
}

.food .food_box h4 {
     font-family: 'Noto Serif', serif;
     font-size: 20px;
     line-height: 30px;
     font-weight: 501;
     padding-top: 30px;
     padding-bottom: 0;
     color: #fff;
     padding-bottom: 10px;
}

.food .food_box p {
     color: #fff;
     font-size: 17px;
     line-height: 33px;
}


/** end food section **/


/** works section **/

.works {
     background: #fff;
     margin: 90px 0;
}

.works .titlepage h2 {
     padding-bottom: 0;
}

.works .titlepage span {
     font-size: 17px;
     line-height: 30px;
     color: #b3b1a6;
     font-weight: 501;
     display: block;
}

.works .works_box {
     margin-top: 30px;
     background: #eda911;
     margin-bottom: 30px;
     padding: 0px 30px 30px 30px;
     border-radius: 0px 60px 0px 60px;
     transition: ease-in all 0.5s;
}

.works .works_box h4 {
     font-size: 25px;
     line-height: 30px;
     font-weight: bold;
     color: #fff;
     background: #5a2f27;
     width: 80px;
     text-align: center;
     border-radius: 50px;
     height: 80px;
     padding-top: 26px;
     margin-left: -50px;
     margin-top: -30px;
     position: absolute;
}

.works .works_box p {
     color: #fff;
     font-size: 17px;
     line-height: 33px;
     text-align: center;
     padding-top: 60px;
}

#white_bg:hover.works_box {
     background: #eae9e4 !important;
     border-radius: 40px 0px 40px 0px;
     transition: ease-in all 0.5s;
}

#white_bg:hover.works_box p {
     color: #000;
}

#white_bg:hover.works_box h4 {
     background: #190707;
}


/** end works section **/


/** clients section **/

.clients {
     padding: 90px 0 141px 0;
     background: #5a2f27;
}

.padding_lert {
     max-width: 666px;
     float: right;
     width: 100%;
}

.clients .titlepage {
     padding-bottom: 20px;
     text-align: left;
}

.clients .titlepage h2 {
     color: #fff;
}

.clients_Carousel .carousel-caption {
     position: inherit;
     padding: 0;
}

.clients_box {
     text-align: center;
}

.test_box {
     padding: 30px 25px 35px 25px;
     background: #fff;
}

.clients_Carousel .test_box h4 {
     font-size: 20px;
     color: #eda911;
     line-height: 18px;
     display: block;
     font-weight: bold;
     text-transform: uppercase;
     padding: 80px 0 0 0;
}

.clients_Carousel .imga figure {
     margin: 0;
}

.clients_Carousel .imga figure img {
     margin-bottom: -80px;
}

.clients_Carousel .test_box p {
     font-size: 17px;
     line-height: 28px;
     color: #3c3c3d;
     padding-top: 20px;
     padding-bottom: 30px;
}

.clients_Carousel .carousel-indicators {
     bottom: -50px;
}

.clients_Carousel .carousel-indicators li {
     width: 20px;
     height: 20px;
     background: #eda911;
     border-radius: 10px;
}

.clients_Carousel .carousel-indicators li.active {
     background: #fffefe;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
     display: none;
}

.clients_imgfood {
     padding-right: 40px;
}

.clients_imgfood figure {
     margin: 0;
}

.clients_imgfood figure img {
     width: 100%;
}


/** end clients section **/


/** footer **/

.footer {
     background: #fff;
     padding-top: 85px;
     text-align: center;
}

.footer .titlepage {
     text-align: left;
     padding-bottom: 10px;
}

.footer .titlepage h2 {
     color: #e95d49;
}

.cont {
     text-align: center;
}

.cont h3 {
     color: #0e0d0d;
     font-size: 45px;
     line-height: 66px;
     font-weight: 600;
}

.cont p {
     color: #eda911;
     font-size: 20px;
     line-height: 30px;
     padding-top: 10px;
     font-weight: 501;
     padding-bottom: 35px;
}

.sub_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #000;
     color: #fff;
     width: 100%;
     display: block;
     font-weight: 500;
     border-radius: 35px;
     border: #fff solid 4px;
     padding: 13px 0px;
     max-width: 200px;
     margin: 0 auto;
}

.sub_btn:hover {
     background-color: #eda911;
     transition: ease-in all 0.5s;
     color: #fff;
}

.copyright {
     margin-top: 90px;
     padding: 20px 0px;
     background-color: #582e26;
}

.copyright p {
     color: #fff;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
}

.copyright a {
     color: #fff;
}

.copyright a:hover {
     color: #eda911;
}


/** end footer **/

